---
layout: page
title: Astronomy
permalink: /astronomy/
---

<p>I am a fairly keen amateur astronomer/stargazer, and can often be found standing in the garden in the middle of the night with a telescope, wearing many layers of clothes in near-freezing temperatures.</p>

<p>I have also dabbled in a bit of astrophotography; here is a selection of my efforts:</p>

{% include gallery.html %}

<p>See more on <a href="https://www.flickr.com/search/?user_id=mrtom2985&tags=stargazing&sort=date-posted-desc" target="_blank">Flickr</a>.</p>

{% include photoswipe.html %}

<link rel="stylesheet" href="/css/photoswipe.css">
<link rel="stylesheet" href="/css/default-skin/default-skin.css">
<script src="/js/photoswipe.min.js"></script>
<script src="/js/photoswipe-ui-default.min.js"></script>

<script src="/js/gallery.js"></script>
