---
layout: page
title: Astronomy
image: /img/astro/m31_large.jpg
permalink: /astronomy/
---

<p>I am a fairly keen amateur astronomer/stargazer, and can often be found standing in the garden in the middle of the night with a telescope, wearing many layers of clothes in near-freezing temperatures.</p>

<p>I have also dabbled in a bit of astrophotography; here is a selection of my efforts:</p>

{% include gallery.html %}

<p>See more on <a href="https://www.flickr.com/photos/mrtom2985/sets/72157670380022136" target="_blank">Flickr</a>.</p>

{% include photoswipe.html %}

<script>initPhotoSwipeFromDOM('.gallery');</script>
