<div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/img/astro/moon_large.jpg" data-msrc="/img/astro/moon_med.jpg" itemprop="contentUrl" data-size="2048x1360">
            <img src="/img/astro/moon_small.jpg" class="photo-moon" itemprop="thumbnail" alt="Half moon" />
        </a>
        <figcaption itemprop="caption description">Half moon</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/img/astro/jupiter_large.jpg" data-msrc="/img/astro/jupiter_med.jpg" itemprop="contentUrl" data-size="2048x1248">
            <img src="/img/astro/jupiter_small.jpg" itemprop="thumbnail" alt="Jupiter and moons" />
        </a>
        <figcaption itemprop="caption description">Jupiter and moons</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/img/astro/m31_large.jpg" data-msrc="/img/astro/m31_med.jpg" itemprop="contentUrl" data-size="2048x1248">
            <img src="/img/astro/m31_small.jpg" itemprop="thumbnail" alt="Andromeda Galaxy (M31)" />
        </a>
        <figcaption itemprop="caption description">Andromeda Galaxy (M31)</figcaption>
    </figure>

    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="/img/astro/aurora_large.jpg" data-msrc="/img/astro/aurora_med.jpg" itemprop="contentUrl" data-size="2048x1248">
            <img src="/img/astro/aurora_small.jpg" itemprop="thumbnail" alt="Northern Lights (aurora borealis) from my garden" />
        </a>
        <figcaption itemprop="caption description">Northern Lights (aurora borealis) from my garden</figcaption>
    </figure>

</div>
