.gallery {
    margin-bottom: 15px;
    text-align: center;

    figure {
        position: relative;
        display: inline-block;
        overflow: hidden;
        width: 203px;
        height: 110px;
        margin-bottom: 6px;
        margin-right: 6px;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        border: none;
    }

    figcaption {
        display: none;
    }

    .photo-moon {
        margin-top: -13px;
    }

    @include media-query(930px) {
        overflow-x: scroll;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}
