html {
  font-size: 0.8rem;
}

p {
  margin-bottom: 1rem;
}

blockquote {
  font-size: 2.4rem;
  font-weight: bold;
}

blockquote.small {
  font-size: 1.7rem;
}

.row {
  padding: 20px 0 10px 0;
}

nav .container {
  font-size: 1.6rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.home-nav-link {
  color: #222;
  text-decoration: none;
}

.profile-image {
  border-radius: 50%;
}

.intro {
  font-size: 2.2rem;
  line-height: 1.4;
}

.headline {
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 1.2;
}

.banner {
  padding: 30px 0;
}

.yellow {
  background-color: #fbe552;
}

.gray {
  background-color: #eeeeee;
}

.my-work-subtitle {
  font-size: 0.8em;
  color: #666;
}

.button.button-primary,
.button.button-primary:link,
.button.button-primary:active,
.button.button-primary:visited
{
  background-color: #1e1e1e;
  border-color: #292929;
}

.button.button-primary:hover {
  background-color: #3a3a3a;
  border-color: #292929;
}

.showcase {
  text-align: center;
  margin-bottom: 10px;
}

.showcase-image {
  width: 100%;
  border: 1px solid #cacaca;
}

.social-link img {
  width: 30px;
}

@media (max-width: 549px) {
  .showcase {
    margin-bottom: 35px;
  }
}

.screenshot {
  max-width: 650px;
  border: 1px solid #ccc;
}

@media (max-width: 780px) {
  .screenshot {
    max-width: 100%;
  }
}
